/*Estilos Generales*/
*{
    margin: 0;
    padding: 0;
}

:root{
    --neon-border-color: #cc0000;
    --neon-border-color-pink: #c90076;
    --neon-border-color-blue: #00ffea;
}

html {
    scroll-behavior: smooth;
}

.main-container{
    padding: 0;
    background-image: url(../multimedia/img/fondo-web.jpg);
}

/*Estilos Barra de Navegación*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10% 0 10%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    transition: 0.8s;
}

.navbar-container{
    display: flex;
    justify-content: center;
}

.navbar-list {
    float: left;
    width: 33.33%;
}

.navbar-item-link {
    display: block;
    font-size: 1em;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.navbar-item-link:hover {
    color: black;
    background-color: white;
}

/*Estilos Header*/
.header {
    background-color: transparent;
    padding: 30% 5px;
    text-align: center;
    color: black;
    width: 100%;
    height: 400px;
    border: 2px solid white;
}

.diner {
    font-size: 3.5em;
    font-family: 'Fredoka One', serif;
    display: block;
    color: transparent;
    paint-order: fill stroke markers;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #fed128;
    text-shadow: 0 0 3vw #fa1c16, 0 0 3vw #fa1c16, 0 0 3vw #fa1c16, 0 0 0.4vw #fed128;
    font-weight: bold;
    letter-spacing: 5px;
  }

  .faulty-letter {
    -webkit-text-stroke-color: #444444;
    text-shadow: 0 0 1vw #222222, 0 0 1vw #222222, 0 0 1vw #222222, 0 0 0.2vw #444444;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: 9999;
  }

  .welcome {
    display: block;
    color: #28d7fe;
    font-size: 2.5em;
    font-family: "Pacifico", "Parisienne", serif;
    text-shadow: 0 0 3vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe;
    font-weight: normal;
  }

  @keyframes blink {
    from,
    38%,
    43.25%,
    49.5%,
    51.125%,
    to {
      -webkit-text-stroke-color: #444444;
    text-shadow: 0 0 1vw #222222, 0 0 1vw #222222, 0 0 1vw #222222, 0 0 0.2vw #444444;
    }

    38.5%,
    43%,
    50%,
    51% {
      -webkit-text-stroke-color: #fed128;
    text-shadow: 0 0 3vw #fa1c16, 0 0 3vw #fa1c16, 0 0 3vw #fa1c16, 0 0 0.4vw #fed128;
    }
  }

/*Estilos Descubre nuestro menú*/
.container-menu{
    width: 100%;
    height: 400px;
    text-align: center;
    margin-top: 0.5em;
}

#custom-styles-box{
    padding: 20% 20px;
}

.h3-custom{
    padding-top: 10% 20px;
}

.box-img-menu{
    height: 100%;
    background-image: url("../multimedia/img/coctails.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.5em;
    margin-left: 0.5em;
    border: 2px solid white;
}

/*Estilos animación Neon*/
.neon-border-container{
    background-color: black;
    border: 3px solid var(--neon-border-color);
    animation: flicker 5s infinite alternate;
    padding: 1em;
    color: #fff;
}

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    box-shadow:
        0 0 .5rem #fff,
        inset 0 0 .5rem #fff,
        0 0 2rem var(--neon-border-color),
        inset 0 0 2rem var(--neon-border-color),
        0 0 4rem var(--neon-border-color),
        inset 0 0 4rem var(--neon-border-color);
    }

    20%, 24%, 55% {
        text-shadow: none;
        box-shadow: none;
    }
}

/*Estilos Botones Neon*/
.btn-neon{
    background-color: transparent;
    color: white;
    padding: 0.5em;
    width: 50%;
    box-shadow: 0 0 7px 0 var(--neon-border-color),
	    0 0 5px 2px var(--neon-border-color),
		inset 0 0 7px 0 var(--neon-border-color),
		inset 0 0 5px 2px var(--neon-border-color);
	transition: background 2s ease,	box-shadow 0.15s ease 0.03s;
}
.btn-neon:hover{
    background-color: rgb(252, 124, 124);
    color: black;
    font-weight: bold;
    font-size: 1.1em;
}

/*Estilos Caja Donde Encontrarnos*/
.box-img-maps{
    height: 100%;
    background-image: url("../multimedia/img/mapas.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.5em;
    margin-left: 0.5em;
    border: 2px solid white;
}

.neon-border-maps-container{
    background-color: black;
    border: 3px solid var(--neon-border-color-pink);
    animation:  maps-flicker 5s infinite alternate;
    padding: 1em;
    color: #fff;
}

@keyframes maps-flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    box-shadow:
        0 0 .5rem #fff,
        inset 0 0 .5rem #fff,
        0 0 2rem var(--neon-border-color-pink),
        inset 0 0 2rem var(--neon-border-color-pink),
        0 0 4rem var(--neon-border-color-pink),
        inset 0 0 4rem var(--neon-border-color-pink);
    }

    20%, 24%, 55% {
        text-shadow: none;
        box-shadow: none;
    }
}

.btn-neon-pink{
    background-color: transparent;
    color: white;
    padding: 0.5em;
    width: 50%;
    box-shadow: 0 0 7px 0 var(--neon-border-color-pink),
	    0 0 5px 2px var(--neon-border-color-pink),
		inset 0 0 7px 0 var(--neon-border-color-pink),
		inset 0 0 5px 2px var(--neon-border-color-pink);
	transition: background 2s ease,	box-shadow 0.15s ease 0.03s;
}
.btn-neon-pink:hover{
    background-color: rgb(235, 124, 252);
    color: black;
    font-weight: bold;
    font-size: 1.1em;
}

/*Estilos Quienes Somos*/
.box-img-aboutus{
    height: 100%;
    background-image: url("../multimedia/img/aboutus.webp");
    background-size: cover;
    background-position-x: center;
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    border: 2px solid white;
}

.neon-border-aboutus-container{
    background-color: black;
    border: 3px solid var(--neon-border-color-blue);
    animation:  aboutus-flicker 5s infinite alternate;
    padding: 1em;
    color: #fff;
}

@keyframes aboutus-flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    box-shadow:
        0 0 .5rem #fff,
        inset 0 0 .5rem #fff,
        0 0 2rem var(--neon-border-color-blue),
        inset 0 0 2rem var(--neon-border-color-blue),
        0 0 4rem var(--neon-border-color-blue),
        inset 0 0 4rem var(--neon-border-color-blue);
    }

    20%, 24%, 55% {
        text-shadow: none;
        box-shadow: none;
    }
}

/*Estilos Footer*/


.footer-content{
    background-color: black;
    width: 100%;
    height: 100%;
}

.footer-content p{
    color: white;
    font-weight: bold;
    padding: 1em;
    margin-top: 0.5em;
}

/*Estilos Page Contacto*/
.title-container{
    color: white;
    text-align: center;
    margin-top: 1.5em;
}

.faqs{
    padding: 10px 20px 20px;
    width: 100%;
    height: 450px;
}

::-webkit-details-marker{
    float: right;
    margin-top: 5px;
}

.contact-card{
    background: #f6f6f6;
    padding: 15px 20px;
    border-radius: 7px;
    margin-top: 20px;
    font-family: "Rubik";
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: bold;
}

.visible-card{
    outline: none;
}

.card-text{
    font-size: 0.9em;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 0.5em;
    text-align: justify;
}

/*Estilos Carta*/
.my-col{
    width: 100%;
    height: 450px;
}

.title-food{
    color: white;
    text-align: center;
    margin-top: 1.5em;
}

.card-food{
    width: 100%;
    height: 100px;
    display: flex;
    margin: 0.6em;
    transition: transform .2s;
    background-color: transparent;
    border: 2px solid white;
}

.card-food:hover{
    transform: scale(1.1);
    background-color: #7e7e7e;
}

#margin-custom{
    margin-left: -0.3em;
}

.section-img{
    height: 100%;
    width: 30%;
    padding: 0.1em;
    border-right: 2px solid white;
}

.img-food{
    width: 100%;
    height: 100%;
}

.section-text{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}

.section-price{
    height: 100%;
    width: 10%;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: white;
    border-left: 2px solid white;
}

/*Estilos Medium*/
@media(min-width:768px){
    .header {
        padding: 10% 20px;
        width: 100%;
        height: 400px;
    }

    .footer-content p{
        text-align: center;
    }

    .title-container{
        margin-top: 2em;
    }

    .faqs{
        height: 540px;
    }

    .contact-card{
        font-size: 1.2em;
    }

    .card-text{
        font-size: 1.1em;
    }

    .my-col{
        height: 620px;
    }

    .card-food{
        margin-left: 0.5em;
    }

    #margin-custom{
        margin-right: 0.5em;
    }

    .title-food{
        margin: 2em;
    }

    .section-text{
        font-size: 1.4em;
    }

    .section-price{
        justify-content: center;
        font-size: 1.2em;
    }
}